*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*Top too are for small.css*/
    -webkit-text-size-adjust: border-box;
    -ms-text-size-adjust: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2b2d2f;
    color: #fff;
    font-size: 16px;
}

body h1{
    font-style: italic;
    text-align: center;
  }


/*-------
Header
--------*/

header{
    background-color: #06668a;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;

    z-index: 10;
    align-items: left;
    padding:20px 20px ;
    border-bottom: 3px black solid;
}


header img{
    padding: 0 10px;
    width: 15%;
}

.icon{
    display: flex;
}



header h1 a{
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
}

.nav-ul{
    width: 100%;
    display: flex;
    width: 100%;
    list-style: none;
}

.nav-ul a{
    font-size: 18px;
    position: relative;
    right: 25px;
    bottom: 25px;
    margin: 10px 10px;
    display: flex;

    color: #fff;
    text-decoration: none;
}


/*-------
Main Neon Button
--------*/



.btns{
    display: flex;
    background-color: #2b2d2f;
}


.playImg{
    margin: 10px 10px ;
    padding: 10px 10px;
    width: 25%;
}


.btns img {
    text-align: center;
    width: 30%;
}


.btns h1{
    margin: 10px 10px ;
    padding: 10px 10px;
    width: 33.3%;
    text-align: center;
}



.neon-button{
    font-size: 30px;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: darkblue;
    border: darkblue 0.125rem solid;
    padding: 0.25em 1em;
    border-radius: .25em;
    margin-top: 70px;
    margin-bottom:80px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: darkslategray;

    


    text-shadow:  
    0 0 10px darkcyan,
    0 0 21px darkcyan,
    0 0 42px darkcyan,
    0 0 82px rgb(4, 0, 255),
    0 0 92px rgb(4, 0, 255),
    0 0 102px rgb(4, 0, 255),
    0 0 151px rgb(4, 0, 255);

     box-shadow:inset 0 0 0.5em  #0ca3da,
                0 0 0.5em  #0ca3da;
    
    position: relative;
}

.neon-button::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background:#0ca3da;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 100ms linear;

/*perspective always comes first if using*/


    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(.5em);
    opacity: 0.7;
}
.neon-button::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em #0ca3da;
    opacity: 0;
    transition: opacity 100ms linear;
}


.neon-button:hover::before,
.neon-button:focus::before{
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after{
    opacity: 1;
}

.neon-button:hover,
.neon-button:focus{
    background:darkcyan;
    color: darkblue;
    text-shadow: none;
}
.neonDiv{
    display: flex;
    
    width: 45%;
    
}

.neonDiv a{
    width: 100%;
  
}

.neonDiv p {
    width: 100%;
    color: #fff;
}

 /*main*/
main{
    display: flex;
    flex-direction: column;
}


hr{
    border: 1px black solid;
    background-color: #06668a;
    color: black;
    width: 100%;
    height: 20px;
}

/*------------
First Section
-------------*/

.firstSection{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 80px;
    color: #fff;
}

.firstSection img{
    position: relative;
    padding: 20px;
    margin: 30px;
}

.firstLeft{
    padding: 20px 20px;
    margin: 20px 20px ;
    max-width: 100%;
    margin-top:70px;
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: left;
    line-height: 1.8;
}

/*------------
Second Section
-------------*/

.secondSection{
display: flex;
flex-direction: column;
padding: 10px 10px;
margin-top: 80px;
color: #fff;
line-height: 1.8;
}

.secondSection img{
    width: 300px;
    height: 200px;
    border: solid black 1px;
}
 .firstBeat{
    color: #fff;
    padding: 10px 20px;
    margin: 20px 200px;
    
    display: flex;
    flex-direction: column;
}

.secondRight{
    color: #fff;
    padding: 20px 20px;
    margin: 30px 10px;
    width: 80%;

}



.flexContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}







:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
    
    --fw-normal: 400;
    --fw-bold: 700;
    
    --clr: #b7c9e5;

}

.card {
    margin: 40px 117px;
    width: 400px;
    position: relative;
    right: 100px;
  }
  
  .card__content {
    text-align: center;
    position: relative;
    right: 10px;
    padding: 15em 5em;
    transition: transform 2.5s;
    background: #333;
    transform-style: preserve-3d;

  }
.card__content .card__back{
    width: 100%;
}
  
  .card:hover .card__content {
    transform: rotateY(.5turn);
  }
  
  .card__front,
  .card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
  }
  
  .card__front {
    width: 300px;
    background-color: var(--clr);
    background-image: url(/images/storm400.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
    width: 100%;
  }
  
  .card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: var(--level-one);
  }
  
  .card__title {
    width: 100%;
    font-size: 3.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }
  
  .card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
  }
  
  .card__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    line-height: 1.6;
  }
  
  .card__body audio{
   height: fit-content;
  }
  
  .card__back {
    position: relative;
    left: 30px;
    transform: rotateY(.5turn);
    color: var(--clr);
    background: #333; 
}
  


audio{
    width: 300px;
    height: 1.7rem;
    border-radius: .25rem;
}

#comment{
    display: flex;
    flex-direction: column;
  }




/*------------
Third Section
-------------*/

.thirdSection{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #fff;
    line-height: 1.8;
}


.thirdSection p {
    text-align: left;
    width: 35%;
    padding: 10px 10px;
    margin: 20px 20px;
}

.thirdSection a{
    text-decoration: none;
    color: #08a8e2;
}

.thirdSection a:hover{
    text-decoration: none;
    color: lightblue;
}



.thirdLeft p{
    width: 70%;
}



.thirdRight li{
    position: relative;
    right: 37px;
    padding: 10px 20px;
    list-style: none;
}

.thirdRight {
    text-align: left;
  }

  .thirdRight .packages{
    font-style: italic;
    margin-left: 35px;
    font-size: 20px;
  }

.thirdRight .packages:nth-of-type(1){
  color: red;
}

.thirdRight .packages:nth-of-type(2){
  color: gold;
}

.thirdRight .packages:nth-of-type(3){
  color: #0ca3da;
  margin-left: 38px;
}

/*----------
Footer
-----------*/

footer{
    display: flex;
    flex-direction: column;
}


h3{
    font-style: italic;
    width: 10%;
}


h4{
    margin: 10px;
  }

.footerContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    background-color: #333333;
}

.footerContainer h3{
    text-align: center;
    width: 300px ;
}
  
.footerBox{
    width: 25%;
    padding: 20px 20px;
    margin: 10px 10px;
}
.footerList{
 width: 300px;
}  
.footerList li{
    width: 100%;
    padding: 10px 15px;
    margin: 5px 5px;

    list-style: none;
    color: #fff;
}

  
.footerContainerBottom{
    height: 150px;
    width: 100%;
    background-color: #1b1b1b;
}
  
.bottomContent{

    font-style: italic;
}
  
.bottomContent ul{
    text-align: center;
}
  
.bottomContent li{
    list-style: none;  
}


.footerList li a{
    text-decoration: none;
    color: inherit;
}


/*--------------
Comment Section
----------------*/


.commentSectionContainer{
    width: 500px;
    border: 2px #333 solid;
    padding: 15px 10px;
  }
  
  .commentSectionContainer p{
    
    margin-bottom:15px;
  }
  
  textarea{
    height: 70px ;
    width: 50%;
    border: none;
    border-bottom: 2px solid #aaa;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s;
  }
  
  input[type="submit"],button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  input[type="submit"]{
    color: #fff;
    background-color: #06668a;
  }
  
  button{
  color: #fff;
  background-color: #aaa;
  }
  
  .summitBtns{
    display: none;
  }












































  /*med*/
@media only screen and (min-width: 683px) {
    
    *{
        -webkit-text-size-adjust: border-box;
        -ms-text-size-adjust: border-box;
        box-sizing: border-box;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #2b2d2f;
        color: #fff;
        font-size: 16px;
    }
    
    body h1{
        font-style: italic;
        text-align: center;
      }
    
    body h2{
        font-size: 35px;
    }
    
    /*-------
    Header
    --------*/
    
    header{
        background-color: #06668a;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
    
        z-index: 10;
        align-items: left;
        padding:20px 20px ;
        border-bottom: 3px black solid;
    
        display: flex;
        flex-direction: column;
    
    
    }
    
    
    header img{
        padding: 0 10px;
        width: 10%;
    }
    
    .icon{
        display: flex;
    }
    
    
    
    header h1 a{
        padding: 10px 10px;
        margin: 10px;
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }
    
    nav{
        display: flex;
    }
    
    .nav-ul{
        width: 40%;
        display: flex;
    }
    
    .nav-ul li{
        text-align: center;
        display: flex;
        width: 100%;
    }
    
    .nav-ul a{
        position: relative;
        right: 30px;
        width: 120px;
        color: #fff;
        font-size: 22px;
        list-style: none;
        text-decoration:none;
    }
    
    /*-------
    Main Neon Button
    --------*/
    
    
    
    .btns{
        display: flex;
        background-color: #2b2d2f;
    }
    
    
    .playImg{
        margin: 10px 10px ;
        padding: 10px 10px;
        width: 25%;
    }
    
    
    .btns img {
        position: relative;
        left: 15px;
        text-align: center;
        width: 25%;
    }
    
    
    .btns h1{
        margin: 10px 10px ;
        padding: 10px 10px;
        width: 33.3%;
        text-align: center;
    }
    
    
    
    .neon-button{
        font-size: 40px;
    
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: darkblue;
        border: darkblue 0.125rem solid;
        padding: 0.25em 1em;
        border-radius: .25em;
        margin-top: 70px;
        margin-bottom:80px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        background-color: darkslategray;
    
        
    
    
        text-shadow:  
        0 0 10px darkcyan,
        0 0 21px darkcyan,
        0 0 42px darkcyan,
        0 0 82px rgb(4, 0, 255),
        0 0 92px rgb(4, 0, 255),
        0 0 102px rgb(4, 0, 255),
        0 0 151px rgb(4, 0, 255);
    
         box-shadow:inset 0 0 0.5em  #0ca3da,
                    0 0 0.5em  #0ca3da;
        
        position: relative;
    }
    
    .neon-button::before{
        pointer-events: none;
        content: '';
        position: absolute;
        background:#0ca3da;
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 100ms linear;
    
    /*perspective always comes first if using*/
    
    
        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
        filter: blur(.5em);
        opacity: 0.7;
    }
    .neon-button::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 2em 0.5em #0ca3da;
        opacity: 0;
        transition: opacity 100ms linear;
    }
    
    
    .neon-button:hover::before,
    .neon-button:focus::before{
        opacity: 1;
    }
    .neon-button:hover::after,
    .neon-button:focus::after{
        opacity: 1;
    }
    
    .neon-button:hover,
    .neon-button:focus{
        background:darkcyan;
        color: darkblue;
        text-shadow: none;
    }
    .neonDiv{
        display: flex;
        
        width: 45%;
        
    }
    
    .neonDiv a{
        width: 100%;
      
    }
    
    .neonDiv p {
        width: 100%;
        color: #fff;
    }
    
     /*---------
     Main
     ----------*/
    main{
        display: flex;
    }
    
    
    hr{
        position: relative;
        top: 80px;
        border: 1px black solid;
        background-color: #06668a;
        color: black;
        width: 100%;
        height: 20px;
    }
    


    /*------------
    First Section
    -------------*/
    
    .firstSection{
        display: flex;
        flex-direction: column;
        position: relative;
        right: 70px;
        padding: 10px 10px;
        margin-top: 80px;
        margin-bottom: 80px;
        height: 700px;
        color: #fff;
    }
    
    .firstSection img{
     position: relative;
     left: 200px;
     top: 130px;
    }
    
    .firstLeft{
        position: relative;
        left: 200px;
        padding: 20px 20px;
        margin: 20px 20px ;
        max-width: 70%;
        margin-top:70px;
        padding: 10px 10px;
        width: 150%;
        text-align: left;
        line-height: 1.6;
    }

    .firstLeft h2{
        text-align: center;
    }
    
    .firstLeft p{
        height: 200px;
        padding: 20px 20px;
        font-size: 20px;
    }



    /*------------
    Second Section
    -------------*/
    
    .secondSection{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 80px;
    color: #fff;
    }
    


    .secondRight{
        position: relative;
        left: 130px;
        color: #fff;
        padding: 20px 20px;
        margin: 30px 0px;
        width: 70%;
    }
    
    .secondRight p{
        padding: 20px 0px;
        margin: 20px 0px;
        font-size: 20px;
    }
    
    .flexContainer{
        position: relative;
        left: 50px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    
    
    
    
    :root {
        --level-one: translateZ(3rem);
        --level-two: translateZ(6rem);
        --level-three: translateZ(9rem);
        
        --fw-normal: 400;
        --fw-bold: 700;
        
        --clr: #b7c9e5;
    
    }
    
    .card {
        margin: 40px 117px;
        width: 400px;
      }
      
      .card__content {
        text-align: center;
        position: relative;
        left: 70px;
        padding: 15em 5em;
        transition: transform 2.5s;
        background: pink;
        transform-style: preserve-3d;
      }
      
      .card:hover .card__content {
        transform: rotateY(.5turn);
      }
      
      .card__front,
      .card__back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5em 3em;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        display: grid;
        align-content: center;
      }
      
      .card__front {
        background-color: var(--clr);
        background-image: url(/images/storm400.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
      }
      
      .card__front::before {
        content: '';
        position: absolute;
        --spacer: 1em;
        top: var(--spacer);
        bottom: var(--spacer);
        left: var(--spacer);
        right: var(--spacer);
        border: 3px solid currentColor;
        transform: var(--level-one);
      }
      
      .card__title {
        width: 100%;
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
      }
      
      .card__subtitle {
        transform: var(--level-two);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: .75rem;
        font-weight: var(--fw-bold);
        opacity: .7;
      }
      
      .card__body {
        transform: var(--level-two);
        font-weight: var(fw-normal);
        line-height: 1.6;
      }
      
      .card__body audio{
       height: fit-content;
      }
      
      .card__back {
        transform: rotateY(.5turn);
        color: var(--clr);
        background: #333; 
    }
      
    
    
    audio{
        width: 300px;
        height: 1.7rem;
        border-radius: .25rem;
    }
    
    #comment{
        display: flex;
        flex-direction: column;
      }
    
    
    
    
    /*------------
    Third Section
    -------------*/
    
    .thirdSection{
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        margin-top: 80px;
        color: #fff;
    }
    
    
    .thirdSection p{
        width: 100%;
        padding: 10px 10px;
        margin: 20px 20px;
        font-size: 20px;
    }
    
    .thirdSection a{
        text-decoration: none;
        color: #08a8e2;
    }
    
    .thirdSection a:hover{
        text-decoration: none;
        color: lightblue;
    }
    
    
    .thirdLeft{
        width: 50%;
    }

    .thirdRight {
        text-align: left;
      }
    
      .thirdRight .packages{
        font-style: italic;
        margin-left: 35px;
        font-size: 20px;
      }
    
    .thirdRight .packages:nth-of-type(1){
      color: red;
    }
    
    .thirdRight .packages:nth-of-type(2){
      color: gold;
    }
    
    .thirdRight .packages:nth-of-type(3){
      color: #0ca3da;
      margin-left: 38px;
    }
    

    
    /*----------
    Footer
    -----------*/
    
    footer{
        display: flex;
    }
    
    
    h3{
        font-style: italic;
        width: 10%;
    }
    
    
    h4{
        margin: 10px;
      }
    
    .footerContainer{ 
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background-color: #333333;
    }
    
    .footerContainer h3{
        width: 300px ;
    }
      
    .footerBox{
        position: relative;
        left: 200px;
        width: 50%;       
    }
      
    .footerList {
        width: 100%;
        padding: 10px 15px;
        margin: 5px 5px;
    
        list-style: none;
        color: #fff;
    }
      
    .footerContainerBottom{
        height: 150px;
        width: 100%;
        background-color: #1b1b1b;
    }
      
    .bottomContent{
        font-style: italic;
    }
      
    .bottomContent ul{
        text-align: center;
    }
      
    .bottomContent li{
        list-style: none;  
    }
    
    
    .footerList li a{
        text-decoration: none;
        color: inherit;
    }
    
    
    /*--------------
    Comment Section
    ----------------*/
    
    
    .commentSectionContainer{
        width: 500px;
        border: 2px #333 solid;
        padding: 15px 10px;
      }
      
      .commentSectionContainer p{
        
        margin-bottom:15px;
      }
      
      textarea{
        height: 70px ;
        width: 50%;
        border: none;
        border-bottom: 2px solid #aaa;
        margin-bottom: 10px;
        resize: none;
        outline: none;
        transition: .5s;
      }
      
      input[type="submit"],button{
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: .25rem;
        cursor: pointer;
      }
      
      input[type="submit"]{
        color: #fff;
        background-color: #06668a;
      }
      
      button{
      color: #fff;
      background-color: #aaa;
      }
      
      .summitBtns{
        display: none;
      }
    
}






























































/*---------
    Large
-----------*/

@media only screen and (min-width: 1200px) {

    *{
        /*Top too are for small.css*/
        -webkit-text-size-adjust: border-box;
        -ms-text-size-adjust: border-box;
        box-sizing: border-box;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #2b2d2f;
        color: #fff;
        font-size: 16px;
    }
    
    body h1{
        font-style: italic;
        text-align: center;
      }
    
    body h2{
        font-size: 35px;
    }
    
    /*-------
    Header
    --------*/
    
    header{
        background-color: #06668a;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
    
        z-index: 10;
        align-items: left;
        padding:20px 20px ;
        border-bottom: 3px black solid;
    
        display: flex;
        flex-direction: column;
    
    
    }
    
    
    header img{
        padding: 0 10px;
        width: 5%;
    }
    
    .icon{
        display: flex;
    }
    
    
    
    header h1 a{
        padding: 10px 10px;
        margin: 10px;
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }
    
    nav{
        display: flex;
    }
    
    .nav-ul{
        width: 40%;
        display: flex;
    }
    
    .nav-ul li{
        text-align: center;
        display: flex;
        width: 55%;
    }
    
    .nav-ul a{
        width: 100%;
        color: #fff;
        font-size: 22px;
        list-style: none;
        text-decoration:none;
    }
    
    /*-------
    Main Neon Button
    --------*/
    
    
    
    .btns{
        display: flex;
        background-color: #2b2d2f;
    }
    
    
    .playImg{
        margin: 10px 10px ;
        padding: 10px 10px;
        width: 25%;
    }
    
    
    .btns img {
        text-align: center;
        width: 15%;
    }
    
    
    .btns h1{
        margin: 10px 10px ;
        padding: 10px 10px;
        width: 33.3%;
        text-align: center;
    }
    
    
    
    .neon-button{
        font-size: 50px;
    
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: darkblue;
        border: darkblue 0.125rem solid;
        padding: 0.25em 1em;
        border-radius: .25em;
        margin-top: 70px;
        margin-bottom:80px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        background-color: darkslategray;
    
        
    
    
        text-shadow:  
        0 0 10px darkcyan,
        0 0 21px darkcyan,
        0 0 42px darkcyan,
        0 0 82px rgb(4, 0, 255),
        0 0 92px rgb(4, 0, 255),
        0 0 102px rgb(4, 0, 255),
        0 0 151px rgb(4, 0, 255);
    
         box-shadow:inset 0 0 0.5em  #0ca3da,
                    0 0 0.5em  #0ca3da;
        
        position: relative;
    }
    
    .neon-button::before{
        pointer-events: none;
        content: '';
        position: absolute;
        background:#0ca3da;
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 100ms linear;
    
    /*perspective always comes first if using*/
    
    
        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
        filter: blur(.5em);
        opacity: 0.7;
    }
    .neon-button::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 2em 0.5em #0ca3da;
        opacity: 0;
        transition: opacity 100ms linear;
    }
    
    
    .neon-button:hover::before,
    .neon-button:focus::before{
        opacity: 1;
    }
    .neon-button:hover::after,
    .neon-button:focus::after{
        opacity: 1;
    }
    
    .neon-button:hover,
    .neon-button:focus{
        background:darkcyan;
        color: darkblue;
        text-shadow: none;
    }
    .neonDiv{
        display: flex;
        
        width: 45%;
        
    }
    
    .neonDiv a{
        width: 100%;
      
    }
    
    .neonDiv p {
        width: 100%;
        color: #fff;
    }
    
     /*main*/
    main{
        display: flex;
    }
    
    
    hr{
        border: 1px black solid;
        background-color: #06668a;
        color: black;
        width: 100%;
        height: 20px;
    }
    
    /*------------
    First Section
    -------------*/
    
    .firstSection{
        display: flex;
        flex-direction: row ;
        padding: 10px 10px;
        margin-top: 80px;
        height: 700px;
        color: #fff;
    }
    
    .firstSection img{
        padding: 20px;
        margin: 30px;
        width: 600px;
    }
    
    .firstLeft{
        padding: 20px 20px;
        margin: 20px 20px ;
        max-width: 50%;
        margin-top:70px;
        padding: 10px 10px;
        text-align: left;
    }
    
    .firstLeft p{
        width: 800px;
        height: 600px;
        padding: 20px 20px;
        font-size: 22px; 
        line-height: 1.8;
    }



    /*------------
    Second Section
    -------------*/
    
    .secondSection{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin-top: 80px;
    color: #fff;
    }
    


    .secondRight{
        position: relative;
        left: 150px;
        color: #fff;
        padding: 20px 20px;
        margin: 30px 70px;
        width: 40%;
    }
    
    .secondRight p{
        padding: 20px 0px;
        margin: 20px 0px;
        font-size: 20px;
    }
    
    .flexContainer{
        position: relative;
        left: 50px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    
    
    /*---------
    Card
    -----------*/
    
    :root {
        --level-one: translateZ(3rem);
        --level-two: translateZ(6rem);
        --level-three: translateZ(9rem);
        
        --fw-normal: 400;
        --fw-bold: 700;
        
        --clr: #b7c9e5;
    
    }
    
    .card {
        margin: 40px 117px;
        width: 400px;
        position: relative;
        right: 75px;
      }
      
      .card__content {
        text-align: center;
        position: relative;
        padding: 15em 5em;
        transition: transform 2.5s;
        background: pink;
        transform-style: preserve-3d;
      }
      
      .card:hover .card__content {
        transform: rotateY(.5turn);
      }
      
      .card__front,
      .card__back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5em 3em;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        display: grid;
        align-content: center;
      }
      
      .card__front {
        background-color: var(--clr);
        background-image: url(/images/storm400.jpg);
        background-size: cover;
        background-blend-mode: overlay;
        color: #333;
      }
      
      .card__front::before {
        content: '';
        position: absolute;
        --spacer: 1em;
        top: var(--spacer);
        bottom: var(--spacer);
        left: var(--spacer);
        right: var(--spacer);
        border: 3px solid currentColor;
        transform: var(--level-one);
      }
      
      .card__title {
        width: 100%;
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
      }
      
      .card__subtitle {
        transform: var(--level-two);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: .75rem;
        font-weight: var(--fw-bold);
        opacity: .7;
      }
      
      .card__body {
        transform: var(--level-two);
        font-weight: var(fw-normal);
        line-height: 1.6;
      }
      
      .card__body audio{
       height: fit-content;
      }
      
      .card__back {
        transform: rotateY(.5turn);
        color: var(--clr);
        background: #333; 
    }
      
    
    
    audio{
        width: 300px;
        height: 1.7rem;
        border-radius: .25rem;
    }
    
    #comment{
        display: flex;
        flex-direction: column;
      }
    
    
    
    
    /*------------
    Third Section
    -------------*/
    
    .thirdSection{
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        margin-top: 80px;
        margin-bottom: 30px;
        height: 600px;
        color: #fff;
    }
    
    
    .thirdSection p {
        width: 35%;
        padding: 10px 10px;
        margin: 20px 20px;
        font-size: 20px;
    }
    
    .thirdSection a{
        text-decoration: none;
        color: #08a8e2;
    }
    
    .thirdSection a:hover{
        text-decoration: none;
        color: lightblue;
    }
    
    
    .thirdLeft{
        padding: 20px 90px;
        margin: 20px 70px;
        width: 50%;
    }

    .thirdLeft p{
        width: 55%;
    }
    
    .thirdRight {
        text-align: left;
      }
    
      .thirdRight .packages{
        font-style: italic;
        margin-left: 35px;
        font-size: 20px;
      }
    
    .thirdRight .packages:nth-of-type(1){
      color: red;
    }
    
    .thirdRight .packages:nth-of-type(2){
      color: gold;
    }
    
    .thirdRight .packages:nth-of-type(3){
      color: #0ca3da;
      margin-left: 38px;
    }
    
    
    /*----------
    Footer
    -----------*/
    
    footer{
        display: flex;
        flex-direction:column; 
    }
    
    
    h3{
        font-style: italic;
        width: 10%;
    }
    
    
    h4{
        margin: 10px;
      }
    
    .footerContainer{
        background-color: lightblue;
        list-style: none;
        display: flex;
        flex-direction: row;
        
        width: 100%;
        background-color: #333333;
    }
    
    .footerContainer h3{
        text-align: center;
        width: 300px ;
    }
      
    .boxContainer{
     display: flex;
    }

    .footerBox{
        width: 20%;
        padding: 20px 20px;
        margin: 10px 10px;
    }
      
    .footerList li{
        
        width: 100%;
        padding: 10px 15px;
        margin: 5px 5px;
    
        list-style: none;
        color: #fff;
    }
      
    .footerContainerBottom{
        height: 150px;
        width: 100%;
        background-color: #1b1b1b;
    }
      
    .bottomContent{
    
        font-style: italic;
    }
      
    .bottomContent ul{
        text-align: center;
    }
      
    .bottomContent li{
        list-style: none;  
    }
    
    
    .footerList li a{
        text-decoration: none;
        color: inherit;
    }
    
    
    /*--------------
    Comment Section
    ----------------*/
    
    
    .commentSectionContainer{
        width: 500px;
        border: 2px #333 solid;
        padding: 15px 10px;
      }
      
      .commentSectionContainer p{
        
        margin-bottom:15px;
      }
      
      textarea{
        height: 70px ;
        width: 50%;
        border: none;
        border-bottom: 2px solid #aaa;
        margin-bottom: 10px;
        resize: none;
        outline: none;
        transition: .5s;
      }
      
      input[type="submit"],button{
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: .25rem;
        cursor: pointer;
      }
      
      input[type="submit"]{
        color: #fff;
        background-color: #06668a;
      }
      
      button{
      color: #fff;
      background-color: #aaa;
      }
      
      .summitBtns{
        display: none;
      }
    
    }